"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Ethan Lowman"
email = "git@ethanlowman.com"

[templates]
git_push_bookmark = '"ethan/" ++ change_id.short()'

[revsets]
short-prefixes = "(mine_flexible() & (mutable() | bookmarks())) | tracked_remote_bookmarks()"

[ui]
diff-formatter = ":git"
# default-command = ["log", "-r", "trunk() | local_trunk() | (mine_flexible() & local_trunk()..)"]
default-command = [
    "log",
    "-r",
    "trunk() | (mine_flexible() & mutable() & ~(empty() & description(exact:'') & trunk()+ & ~@)) | (tracked_remote_bookmarks() & ~::trunk())::",
    # "(trunk() | (~::trunk() & ::@ & (~mine() | mutable())) | (mine() & ~::untracked_remote_bookmarks()) & mutable()| tracked_remote_bookmarks())",
    "--no-pager",
    "-T",
    '''
separate(" ",
  format_short_change_id_with_hidden_and_divergent_info(self),
  separate(commit_summary_separator,
    bookmarks.filter(|b| !b.name().starts_with("mq/")),
    if(!self.mine(), self.author().name()),
    separate(" ",
      if(conflict, label("conflict", "(conflict)")),
      if(empty, label("empty", "(empty)")),
      if(description,
        description.first_line(),
        label(if(empty, "empty"), description_placeholder),
      ),
    ),
  ),
  commit_id.short(8),
)
''',
]
diff-editor = ":builtin"
pager = [
    "sh",
    "-c",
    "delta --side-by-side --minus-style 'syntax #500000' --plus-style 'syntax #005000' --file-transformation \"s|^|> $(jj root)/|g\" -w $(tput cols) | less -F",
]

[colors]
"node working_copy" = { fg = "magenta", bold = false }
"prefix" = { fg = "bright magenta", bold = true }

[aliases]
up = ["edit", "-r", "@+"]
down = ["edit", "-r", "@-"]
sq = ["squash"]
rb = ["rebase"]
cp = ["duplicate"]
ll = ["log", "-r", "::@ | @::"]
watch = ["util", "exec", "--", "jj-watch"]
tug = ["bookmark", "move", "--from", "heads(::@ & bookmarks()) & ~trunk()", "--to", "closest_pushable(@)"]
mug = ["bookmark", "move", "--from", "heads(::@ & bookmarks()) & trunk()", "--to", "closest_pushable(@)"]
push = ["git", "push", "-r", "closest_pushable(@) & (@ | @-)"]
fetch = ["git", "fetch"]

[revset-aliases]
"mine_flexible()" = "mine() | author_name('Ethan Lowman')"
"local_trunk()" = "latest(bookmarks(exact:'trunk') | bookmarks(exact:'main') | bookmarks(exact:'master')) | bookmarks(exact:'default')"
"closest_pushable(to)" = "heads(::to & mutable() & ~description(exact:'') & (~empty() | merges()))"

[fix.tools.rustfmt]
command = ["rustfmt", "+nightly", "--emit", "stdout"]
patterns = ["glob:'**/*.rs'"]

